<div class="flex-column">
    <mat-card>
        <mat-toolbar>Add Exchange</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="exchange-form" [formGroup]="exchangeForm" (ngSubmit)="add()">
            <div class="form-group row">             
                <label class="col-sm-3 col-form-label"> Exchange Name </label>
                <div class="col">     
                    <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Stock Exchange" formControlName="stockExchange">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">             
                <label class="col-sm-3 col-form-label"> Address </label>
                <div class="col">     
                    <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Address" formControlName="contactAddress">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">             
                <label class="col-sm-3 col-form-label"> Details </label>
                <div class="col">         
                    <mat-form-field class="col-sm-12">
                        <input matInput placeholder="About..." formControlName="brief">
                    </mat-form-field>  
                </div>
            </div>
            <div class="form-group row">             
                <label class="col-sm-3 col-form-label"> Remarks </label>
                <div class="col">     
                    <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Remarks..." formControlName="remarks">
                    </mat-form-field>  
                </div>
            </div>
            
                  
            <button class="submit" mat-raised-button type="submit">Add Exchange</button>
          </form>
          
    </mat-card>
</div>

